/*Looking for a job as technical writer, UX-writer or interaction designer */

/* -- Variables -- */
:root {
  --primary-color: rgb(185, 182, 182);
  --secondary-color: #000;
  --gradient-top-color: rgb(131, 200, 218);
  --gradient-bottom-color: rgb(2, 78, 97);
  --contrast-gradient-bottom-color: rgb(191, 191, 191);
  --font: Junction, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --main-content-left-right-margins: 5vw;
  --splash-height:280px;
}

 /*locally hosted Webfonts */
 /* 
 ## Ajar-Sans: Source: https://fontlibrary.org/en/font/ajar-sans
 ##Licence: http://www.apache.org/licenses/LICENSE-2.0 
 */
@font-face {
	font-family: 'Ajar Sans';
	font-weight: 700;
	font-style: normal;
	src: local('Ajar Sans Bold'), local('../../fonts/AjarSans-Bold'),
	     url('../../fonts/AjarSans-Bold.woff') format('woff'),
	     url('../../fonts/AjarSans-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Ajar Sans Extrabold';
	font-weight: 800;
	font-style: normal;
	src: local('Ajar Sans Extrabold'), local('../../fonts/AjarSans-Extrabold'),
	     url('../../fonts/AjarSans-Extrabold.woff') format('woff'),
	     url('../../fonts/AjarSans-Extrabold.ttf') format('truetype');
}
@font-face {
	font-family: 'Ajar Sans Light';
	font-weight: 300;
	font-style: normal;
	src: local('Ajar Sans Light'), local('../../fonts/AjarSans-Light'),
	     url('../../fonts/AjarSans-Light.woff') format('woff'),
	     url('../../fonts/AjarSans-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Ajar Sans';
	font-weight: 400;
	font-style: normal;
	src: local('Ajar Sans'), local('../../fonts/AjarSans-Regular'),
	     url('../../fonts/AjarSans-Regular.woff') format('woff'),
	     url('../../fonts/AjarSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Ajar Sans Semibold';
	font-weight: 600;
	font-style: normal;
	src: local('Ajar Sans Semibold'), local('fonts/AjarSans-Semibold'),
	     url('../../fonts/AjarSans-Semibold.ttf') format('woff'),
	     url('../../fonts/AjarSans-Semibold.ttf') format('truetype');
}


@font-face {
    font-family: 'Junction Bold';
    src: url('../../fonts/junction-bold.woff') format('woff'),
         url('../../fonts/junction-bold.ttf') format('truetype');

    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Junction Light';
    src: url('../../fonts/junction-light.woff') format('woff'),
         url('../../fonts/junction-light.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Junction';
    src: url('../../fonts/junction-regular.woff') format('woff'),
         url('../../fonts/junction-regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}
/* End locally hosted webfonts*/




html {
  font-size: 12px;
  font-family: 'Junction';
}
/* -- CSS Reset -- */
* {
  text-rendering: optimizeLegibility;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
h1,
a,
img,
ul,
li,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: var(--font);
}

/*-- Reset end --*/

/*basic styles*/

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  border-style: none;
  color: var(--secondary-color);
   font-family: 'Junction';
}

p {
  color: rgb(0, 0, 6);
  background-color: rgba(248, 248, 255, 30%);
  padding: 7px 0px 12px 0px;
  border-radius: 5px;
  font-size: 1.2rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
  font-family: 'Ajar Sans Semibold';

  border-bottom: dotted 0.1rem var(--gradient-bottom-color);
}



h2 {
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 0.2em;
  margin-top: 0.5rem;
  font-family: 'Ajar Sans Semibold';
  color:var(--gradient-bottom-color);
}

h3 {
  font-size: 1.2rem;
  font-weight: 200;
  margin-top: 0.5rem;
  font-family: 'Ajar Sans Semibold';
}

h4 {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.5rem;
  font-family: 'Ajar Sans Light';
}

ul {
  padding-left: 1rem;
  list-style: inside;
  margin-top: -0.5rem;
}


/*Header and navigation*/

header {
  background-color: var(--gradient-top-color);
  height: auto;
  position: fixed;
  width: 100vw;
  display: flex;
  top: 0px;
  z-index: 999;
}
/* logo etc*/

.logo {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: left;
  align-self: left;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}


nav ul li {
  margin: 0.5em;
}

ul.navlist {
  list-style: none;
  display: none;
}

.lbl-toggle-nav {
  display: block;
  height: 3rem;
}
.lbl-toggle-nav:hover {
  color: #7c5a0b;
}

.lbl-toggle-nav::before {
  content: " ";
  display: inline-block;
  background-image: url("../../images/menu-rounded-solid.svg");
  height: 1em;
  width: 1em;
  background-repeat: no-repeat;
  margin-top: 0.8em;
  padding-right: 1rem;

  transition: transform 0.2s ease-out;
}

.toggle-nav:checked + .lbl-toggle-nav::before {
  background-image: url("../../images/close.svg");
  padding-left: calc(100vw -1rem);
}

.toggle:checked + ul.navlist {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vw;
  background-color: var(--gradient-top-color);
  width: 100vw;
  right: 0px;
}

.toggle-nav:checked + .lbl-toggle-nav + ul.navlist {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vw;
  background-color: var(--gradient-top-color);
  width: 100vw;
  right: 0px;
}

a,
a:hover {
  text-decoration: none;
  border: none;
  border-style: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
a.current {
  text-decoration: underline solid var(--secondary-color) 2px;
}

img {
  max-width: 100%;
  display: block;
}
/*end navigation*/

/* footer and footer-nav*/
footer {
  background-color: var(--gradient-bottom-color);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  color: var(--contrast-gradient-bottom-color);
  padding-left: var(--main-content-left-right-margins);
  padding-right: var(--main-content-left-right-margins);
}

footer ul li {
  display: inline-block;
  margin: 0.5rem 0.5rem 0.5rem 0;
  padding-top: 5px;
  line-height: 2rem;
}

.footer-navi {
  padding-top: 0rem;
}

.network ul {
  display: inline-block;
}
footer ul {
  right: 0.1em;
}

.network ul li a .svg-icon {
  padding: 4px;
  width: 5vw;
  height: 5vw;
  margin: 0;
  display: block;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  max-height: 60px;
  max-width: 60px;
}

.network ul li a .svg-icon path {
  fill: var(--contrast-gradient-bottom-color);
  -webkit-transition: 1s;
  transition: 1s;
}

.network ul li a:hover .svg-icon path {
  fill: var(--secondary-color);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.footer-navi li a {
  color: rgb(202, 198, 198);
}

.footer-navi li a:hover {
  color:var(--secondary-color);
}

/*
.footer-navi li a:visited {
  color: rgb(202, 198, 198);
}*/

.align-correction {
  padding-bottom: 0.5vw;
}

/* end footer */

/*start content*/

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(var(--main-content-left-right-margins) * 1);
}

/*home page splash */
.splash {
  background-image: url("../../images/cat_on_the_prowl_420px.jpg");
  background-size: cover;
  width: 100vw;
  height: var(--splash-height);

  background-repeat: no-repeat;
  position: relative;
 
}

.splash h1 {
  color: aliceblue;
  border-bottom: none;
  position: relative;
  top:calc(var(--splash-height) - 2rem);
  left:var(--main-content-left-right-margins);
  font-family: 'Ajar Sans Semibold';
  font-size: 1.5rem;
  text-shadow: 1px 1px darkblue ;
}
/*end splash*/

/*normal content*/

.bio,
.moreBio,
.projectList {
  margin-top: 1.3rem;
  font-size: 1rem;
  margin-left: var(--main-content-left-right-margins);
  margin-right: var(--main-content-left-right-margins);
}

.bio > p,
.moreBio > p,
.projectList p {
  font-size: 1rem;
}

.projectList {
  margin-top: 4rem;
}

.coolButton{
  
	width: 80vw;
	margin-left: var(--main-content-left-right-margins);
	height: 4rem;
	background-color:var(--gradient-bottom-color);
  color:var(--contrast-gradient-bottom-color);
	margin-bottom: 1rem;
	border-radius: 10px;
	font-size: 1.4rem;
  border:none;

}

.coolButton a{
  color:var(--contrast-gradient-bottom-color);
 
}

.coolButton a:hover{
  color:var(--gradient-top-color);
}

.coolButton a:visited{
  color:var(--contrast-gradient-bottom-color);
}
/*end normal content 

/* styles for html lightbox by gregory scheer on codepen adapted for use in slider*/
.lightbox {
  /* Default to hidden - is later overwritten by .slider a {display:flex}  */
  display: none;

  /* Overlay entire screen */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  /* A bit of padding around image */
  padding: 1em;

  /* Translucent background */
  background: rgba(0, 0, 0, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
  display: block;
}

.lightbox span {
  /* Full width and height */
  display: block;
  width: 100%;
  height: 100%;

  /* Size and position background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* needed to center the images on the slider tiles*/
.slider a {
  display:flex;
}

/*reset lightbox to display none*/
.slider a.lightbox {
  display:none;
}

/*reset lightbox:target  to visible*/
.slider a.lightbox:target {
  display:block;
}


/*Styles for extendable content => experimental*/

.collapsible-wrapper {
  padding-top: 0.5rem;
}

input[type="checkbox"] {
  display: none;
}

label > h2 {
  display: inline-block;
}

.lbl-toggle {
  display: block;
}
.lbl-toggle:hover {
  color: #7c5a0b;
}

.lbl-toggle::before {
  content: " ";
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);

  transition: transform 0.2s ease-out;
}



.collapsible-content {
  max-height: 0px;
  overflow: hidden;

  transition: max-height 0.25s ease-in-out;
}

.collapsible-content ul,
.collapsible-content h3 {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.collapsible-content ul {
  margin-bottom: 0.7rem;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100%;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle .control:before {
  content:"More..."
}

.toggle:checked .control:before {
  content:"Less..."
}


.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


/*image slider*/
.image_slider{
  height: 20vh;
  margin-bottom: 1rem;
}

ul.slider {
  overflow:auto;
  list-style: none;
  height: 22vh;
  white-space: nowrap;
  margin-top: 1rem;
  margin-left: -5vw;
  display: flex;

}

.slider li {
  display: inline-flex;
  height: 20vh;
  width: 20vh;
  background-color: #fff3d5 ;
  border: 1px #9c8d6a solid;
  flex-shrink: 0;
  
  
}

.slider picture,
.slider img{
  text-align: center;
 
  width: auto;
  max-width: 18vh;
  height: auto;
  max-height: 18vh;
  margin:auto;

}
.slider .screenshot {
  padding-left: calc(18vh - 95px);
}

.slider .slide {
  padding-left: 7px;
}


.slider:hover::before {
	content: "Click image to enlarge";
  font-size: 0.5rem;
	display: block;
	position: absolute;
	background: rgba(240, 248, 255, 0.678);
	transition: ease-in-out;
	border: 1px solid blueviolet;
	border-radius: 10px;
	padding: 5px;
	transition-delay: 2s;
	transition-duration: 2s;
}

.mobile_only {
  display:block;
  font-size: 0.5rem;
	display: block;

	
}

/* media queries for larger screens*/
@media (min-width: 767px) {
:root{
    --main-content-left-right-margins:5vw;
  }

  html {
    font-size: 16px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  /*tablet-navigation: still menu button, but higher)*/
.navmenu{
  padding:0.5rem;
}
.lbl-toggle-nav::before{
  width: 2rem;
  height: 2rem;
  margin-top:0.5rem;
}

  .bio,
  .moreBio,
  .projectList {
   
    font-size: 1rem;
    margin-left: var(--main-content-left-right-margins);
    margin-right: var(--main-content-left-right-margins);
  }
}

@media (min-width: 1200px) {
  /*bassic styles*/
  :root{
    --main-content-left-right-margins:10vw;
  }

  html {
    font-size: 20px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }
/*navigation laptop*/

  header {
    padding-right: var(--main-content-left-right-margins);
  }

li.mobileonly {
  display:none;
}

  .navmenu {
    height: 5rem;
    margin-top: 0.5rem;
  }

  nav a {
    font-size: 1.8rem;
    padding: 1rem;
    padding-bottom: 0rem;
  }

  nav ul li {
    margin: 1rem 0 1rem 1rem;
  }

  ul.navlist {
    list-style: none;
    display: flex;
    flex-direction: row;
    height: 4.6rem;
  }

  .lbl-toggle-nav,
  .lbl-toggle-nav:before {
    display: none;
  }

  a,
  a:hover {
    text-decoration: none;
    border: none;
    border-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: var(--gradient-bottom-color);
  }

  /*content on laptop*/

  .content{
    padding-top: calc(var(--main-content-left-right-margins)*0.5);
  }

  .bio,
  .moreBio,
  .projectList {
   
    font-size: 1.4rem;
    margin-left: var(--main-content-left-right-margins);
    margin-right: var(--main-content-left-right-margins);
  }

  .bio > p,
  .moreBio > p,
  .projectList p {
    font-size: 1.2rem;
  }
  /*footer on laptop*/

  footer {
    padding-left: var(--main-content-left-right-margins);
    padding-right: var(--main-content-left-right-margins);
  }

  .footer-navi {
    padding-top: 1rem;
    font-size: 1.3rem;
  }

  .network {
    display: inline-block;
  }

  .network ul {
    display: flex;
    align-items: center;
  }

  .network ul li {
    display: inline-block;
   
  }

  .network ul li a {
    display: inline-block;
    width: 5vw;
    height: 5vw;
    cursor: pointer;
    max-width: 60px;
    max-height: 60px;
    padding-top: 0.5vw;
  }

 .mobile_only{display:none;}

}


