/*Looking for a job as technical writer, UX-writer or interaction designer */

/* -- Variables -- */
:root {
  --primary-color: rgb(185, 182, 182);
  --secondary-color: #000;
  --gradient-top-color: rgb(131, 200, 218);
  --gradient-bottom-color: rgb(2, 78, 97);
  --contrast-gradient-bottom-color: rgb(191, 191, 191);
  --highlight-color: #f2dba7;
  --font-color-body-text: rgb(0, 0, 6);
  --font: Junction, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --main-content-left-right-margins: 5vw;
  --splash-height: 280px;
  --mobile-menu-color: ;
  --nav-hover-color:rgb(3, 119, 148);
}

/*locally hosted Webfonts */
/* 
 ## Ajar-Sans: Source: https://fontlibrary.org/en/font/ajar-sans
 ##Licence: http://www.apache.org/licenses/LICENSE-2.0 
 */
@font-face {
  font-family: "Ajar Sans";
  font-weight: 700;
  font-style: normal;
  src: local("Ajar Sans Bold"), local("../../fonts/AjarSans-Bold"),
    url("../../fonts/AjarSans-Bold.woff") format("woff"),
    url("../../fonts/AjarSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Ajar Sans Extrabold";
  font-weight: 800;
  font-style: normal;
  src: local("Ajar Sans Extrabold"), local("../../fonts/AjarSans-Extrabold"),
    url("../../fonts/AjarSans-Extrabold.woff") format("woff"),
    url("../../fonts/AjarSans-Extrabold.ttf") format("truetype");
}
@font-face {
  font-family: "Ajar Sans Light";
  font-weight: 300;
  font-style: normal;
  src: local("Ajar Sans Light"), local("../../fonts/AjarSans-Light"),
    url("../../fonts/AjarSans-Light.woff") format("woff"),
    url("../../fonts/AjarSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Ajar Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Ajar Sans"), local("../../fonts/AjarSans-Regular"),
    url("../../fonts/AjarSans-Regular.woff") format("woff"),
    url("../../fonts/AjarSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Ajar Sans Semibold";
  font-weight: 600;
  font-style: normal;
  src: local("Ajar Sans Semibold"), local("fonts/AjarSans-Semibold"),
    url("../../fonts/AjarSans-Semibold.ttf") format("woff"),
    url("../../fonts/AjarSans-Semibold.ttf") format("truetype");
}

/*Junction by Caroline Hadilaksono ( http://hadilaksono.com/) & Tyler Finck (http://tylerfinck.com/) Licence: SIL Open Font License, Version 1.1., https://scripts.sil.org/cms/scripts/page.php?item_id=OFL_web */

@font-face {
  font-family: "Junction Bold";
  src: url("../../fonts/junction-bold.woff") format("woff"),
    url("../../fonts/junction-bold.ttf") format("truetype");

  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Junction Light";
  src: url("../../fonts/junction-light.woff") format("woff"),
    url("../../fonts/junction-light.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Junction";
  src: url("../../fonts/junction-regular.woff") format("woff"),
    url("../../fonts/junction-regular.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}
/* End locally hosted webfonts*/

html {
  font-size: 12px;
  font-family: "Junction";
}
/* -- CSS Reset -- */
* {
  text-rendering: optimizeLegibility;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
h1,
a,
img,
ul,
li,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: var(--font);
}

/*-- Reset end --*/

/*basic styles*/

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  border-style: none;
  color: var(--secondary-color);
  font-family: "Junction";
}

p {
  color: var(--font-color-body-text);
  background-color: rgba(248, 248, 255, 30%);
  padding: 7px 0px 12px 0px;
  border-radius: 5px;
  font-size: 1.2rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
  font-family: "Ajar Sans Semibold";

  border-bottom: dotted 0.1rem var(--gradient-bottom-color);
}

h2 {
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 0.2em;
  margin-top: 0.5rem;
  font-family: "Ajar Sans Semibold";
  color: var(--gradient-bottom-color);
}

h3 {
  font-size: 1.2rem;
  font-weight: 200;
  margin-top: 0.5rem;
  font-family: "Ajar Sans Semibold";
}

h4 {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.5rem;
  font-family: "Ajar Sans Light";
}

ul {
  padding-left: 1rem;
  list-style: outside;
  margin-top: -0.5rem;
}

/*Header and navigation*/

header {
  background-color: var(--gradient-top-color);
  height: auto;
  position: fixed;
  width: 100vw;
  display: flex;
  top: 0px;
  z-index: 999;
}
/* logo etc*/

.logo {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: left;
  align-self: left;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}

nav ul li {
  margin: 0.5em;
}

ul.navlist {
  list-style: none;
  display: none;
}

.lbl-toggle-nav {
  display: block;
  height: 3rem;
}


.lbl-toggle-nav::before {
  content: " ";
  display: inline-block;
  background-image: url("../../images/menu-rounded-solid.svg");
  height: 1em;
  width: 1em;
  background-repeat: no-repeat;
  margin-top: 1rem;
  padding-right: var(--main-content-left-right-margins);

  transition: transform 0.2s ease-out;
}

.toggle-nav:checked + .lbl-toggle-nav::before {
  background-image: url("../../images/close.svg");
  padding-left: 87vw;
  background-position: right;
}

.toggle:checked + ul.navlist {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vw;
  background-color: var(--gradient-top-color);
  width: 100vw;
  right: 0px;
}
/*position mobile menu*/
.navlist > li:nth-child(1) {
  margin-top: 3rem;
}

.toggle-nav:checked + .lbl-toggle-nav + ul.navlist {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vw;
  background-color: var(--gradient-top-color);
  width: 100vw;
  right: 0px;
}

ul.navlist a {
  font-size: 1.6rem;
}

ul.navlist a:hover {
  color:var(--nav-hover-color);
  transition: ease-in-out 0.2s;
}

a
{
  text-decoration: none;
  border: none;
  border-style: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  color: var(--gradient-bottom-color);
}

a:hover {
  color:var(--gradient-top-color);

}

nav a.current {
  text-decoration: underline solid var(--secondary-color) 2px;
}

img {
  max-width: 100%;
  display: block;
}
/*end navigation*/

/* footer and footer-nav*/
footer {
  background-color: var(--gradient-bottom-color);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  color: var(--contrast-gradient-bottom-color);
  padding-left: var(--main-content-left-right-margins);
  padding-right: var(--main-content-left-right-margins);
  margin-top: 1rem;
  padding-top: 1rem;
}

footer ul li {
  display: inline-block;
  margin: 0.5rem 0.5rem 0.5rem 0;

  line-height: 2rem;
}

.footer-navi {
  padding-top: 0rem;
}

.network ul {
  display: inline-block;
  margin-top: -0.5rem;
}
footer ul {
  right: 0.1em;
}

.network ul li a .svg-icon {
  padding: 4px;
  width: 5vw;
  height: 5vw;
  margin: 0;
  display: block;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  max-height: 60px;
  max-width: 60px;
}

.network ul li a .svg-icon path {
  fill: var(--contrast-gradient-bottom-color);
  -webkit-transition: 1s;
  transition: 1s;
}

.network ul li a:hover .svg-icon path {
  fill: var(--secondary-color);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.footer-navi li a {
  color: rgb(202, 198, 198);
  font-size: 1rem;
}

.footer-navi li a:hover {
  color: var(--secondary-color);
}

/*
.footer-navi li a:visited {
  color: rgb(202, 198, 198);
}*/

.align-correction {
  padding-bottom: 0.5vw;
}

/* end footer */

/*start content*/

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(var(--main-content-left-right-margins) * 1);
}

/*home page splash */
.splash {
  background-image: url("../../images/cat_on_the_prowl_420px.jpg");
  background-size: cover;
  width: 100vw;
  height: var(--splash-height);

  background-repeat: no-repeat;
  position: relative;
}

.splash h1 {
  color: aliceblue;
  border-bottom: none;
  position: relative;
  top: calc(var(--splash-height) - 2rem);
  left: var(--main-content-left-right-margins);
  font-family: "Ajar Sans Semibold";
  font-size: 1.4rem;
  text-shadow: 1px 1px darkblue;
}
.splashcontainer .caption {
	position: relative;
	font-size: 10px;
	top: 0px;
	margin-left: 45vw;
}

/*end splash*/

/*normal content*/

.bio,
.moreBio,
.projectList,
.privacy,
.simpleProject {
  margin-top: 1.3rem;
  font-size: 1rem;
  margin-left: var(--main-content-left-right-margins);
  margin-right: var(--main-content-left-right-margins);
}

.bio > p,
.moreBio > p,
.projectList p,
.privacy p,
.simpleProject p {
  font-size: 1rem;
}

.projectList {
  margin-top: 4rem;
}

.coolButton {
  width: 80vw;
  margin-left: var(--main-content-left-right-margins);
  height: 3rem;
  background-color: var(--highlight-color);
  color: var(--font-color-body-text);
  margin-bottom: 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
  border: none;
}

.coolButton:hover {
  background-color: #a78740;
  color: var(--gradient-bottom-color);
  transition: ease-in-out 0.2s;
}

.coolButton a {
  color: var(--font-color-body-text);
}

.coolButton a:visited {
  color: inherit;
}

.privacy {
  background-color: #e5f7fc;
  border: solid 1px #b3b2ef;
  padding: 2px;
}

.privacy ul {
  margin-top: 1rem;
}

.inline {
  display: inline-block;
}

/*end normal content 

/* styles for html lightbox by gregory scheer on codepen adapted for use in slider*/

.lightbox {
  /* Default to hidden - is later overwritten by .slider a {display:flex}  */
  display: none;

  /* Overlay entire screen */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* A bit of padding around image */
  padding: 1em;

  /* Translucent background */
  background: rgba(0, 0, 0, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
  display: block;
}

.lightbox span {
  /* Full width and height */
  display: block;
  width: 100%;
  height: 100%;

  /* Size and position background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* needed to center the images on the slider tiles*/
.slider a {
  display: flex;
}

/*reset lightbox to display none*/
.slider a.lightbox {
  display: none;
}

/*reset lightbox:target  to visible*/
.slider a.lightbox:target {
  display: block;
}

/*Styles for extendable content*/

.collapsible-wrapper {
  padding-top: 0.5rem;
}

input[type="checkbox"] {
  display: none;
  cursor: pointer;
}

label > h2 {
  display: inline-block;
  cursor: pointer;
}

.lbl-toggle {
  display: block;
}


.lbl-toggle::before {
  content: "  ";
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);

  transition: transform 0.2s ease-out;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;

  transition: max-height 0.25s ease-in-out;
}

.collapsible-content ul,
.collapsible-content h3 {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  margin-bottom: 0.8rem;
}

.collapsible-content ul {
  margin-bottom: 0.7rem;
  padding-left: 1rem;
  list-style-position: outside;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100%;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.lbl-toggle span.mobile-only{
  display:inline;
  
}
.lbl-toggle span.mobile-only::before{
  content: "More...";
  color: var(--gradient-bottom-color);
}

.toggle:checked + .lbl-toggle span.mobile-only::before{
  content: "Less...";
  color: var(--gradient-bottom-color);
}





/*image slider*/
.image_slider {
  height: 20vh;
  margin-bottom: 1rem;
}

ul.slider {
  overflow: auto;
  list-style: none;
  height: 22vh;
  white-space: nowrap;
  margin-top: 1rem;
  margin-left: -5vw;
  display: flex;
}

.slider li {
  display: inline-flex;
  height: 20vh;
  width: 20vh;
  background-color: #fff3d5;
  border: 1px #9c8d6a solid;
  flex-shrink: 0;
}

.slider picture,
.slider img {
  text-align: center;

  width: auto;
  max-width: 18vh;
  height: auto;
  max-height: 18vh;
  margin: auto;
}
.slider .screenshot {
  padding-left: calc(18vh - 95px);
}

.slider .slide {
  padding-left: 7px;
}

.slider .manual {
  padding-left: 24px;
}

.slider:hover::before {
  content: "Click image to enlarge";
  font-size: 0.5rem;
  display: block;
  position: absolute;
  background: rgba(240, 248, 255, 0.678);
  transition: ease-in-out;
  border: 1px solid blueviolet;
  border-radius: 10px;
  padding: 5px;
  transition-delay: 2s;
  transition-duration: 2s;
}

/*content changes depending on device size*/
.mobile-only {
  display: block;
  font-size: 1rem;
  display: block;
}
.desktop-only{
  display: none;
}

/* media queries for larger screens*/
@media (min-width: 767px) {
  :root {
    --main-content-left-right-margins: 10vw;
    --splash-height: 60vw;


  }

  html {
    font-size: 16px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  /*tablet-navigation: still menu button, but higher)*/
  .navmenu {
    padding: 0.5rem;
    padding-bottom: 1.3rem;
  }
  .lbl-toggle-nav::before {
    width: 2rem;
    height: 2rem;
    margin-top: 1rem;
  }

  .toggle-nav:checked + .lbl-toggle-nav::before {
    padding-left: 74vw;
  }

  .splash {
      width: 90vw;
      background-image: url(../../images/cat_on_the_prowl_large.jpg);

    }

    .splash h1 {

      position: relative;
      top: calc(var(--splash-height) - 3.3rem);
      left: 5px;
      font-size: 2.5rem;

    }

    .splashcontainer .caption{
      font-size: 14px;
      top:0px;
      left:9vw;
    }
/*adapt button width*/
    .coolButton{
      width: 50vw;
      margin-left: 15vw;
    }

  .projectList {
    margin-top: 6.5rem;
  }

  .bio,
  .moreBio,
  .projectList {
    font-size: 1rem;
    margin-left: var(--main-content-left-right-margins);
    margin-right: var(--main-content-left-right-margins);
  }

  /* slider adaption */
  .slider .screenshot {
    padding-left: calc(18vh - 135px);
  }

  .image_slider ul {
    margin-left: -2.5vw;
  }
  /*footer adaption */
  .footer-navi li a {
    font-size: 1.4rem;
  }
  .footer-navi {
    padding-top: 1.15rem;
    padding-left: 0;
  }
  .footer-navi li {
    margin-right: 1.5rem;
  }

  .footer-navi ul {
    padding-left: 0;
  }
  .network ul li a .svg-icon {
    width: 7vw;
    height: 7vw;
  }
}

@media (min-width: 1200px) {
  /*basic styles*/
    :root {
      --main-content-left-right-margins: 15vw;
      --splash-height: 40vw;
      --header-margins:3vw;

    }

    html {
      font-size: 20px;
    }

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.6rem;
    }
    /*navigation laptop*/

    header {
      padding-right: var(--header-margins);
    }

    li.mobileonly {
      display: none;
    }
    .navlist > li:nth-child(1) {
      margin-top: 1rem;
    }
    .navmenu {
      height: 4.5rem;
      margin-top: 0.5rem;
    }

    nav a {
      font-size: 1.8rem;
      padding: 1rem;
      padding-bottom: 0rem;
    }

    nav ul li {
      margin: 1rem 0 1rem 1rem;
    }

    ul.navlist {
      list-style: none;
      display: flex;
      flex-direction: row;
      height: 4.6rem;
    }

    .lbl-toggle-nav,
    .lbl-toggle-nav:before {
      display: none;
    }

  ul.navlist a {
	  font-size: 1.5 rem;
  }

    a
     {
      text-decoration: none;
      border: none;
      border-style: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: var(--gradient-bottom-color);
    }

    a:hover {
      color: var(--gradient-top-color);
    }

    /*content on laptop*/
    .splash {
      width: 60vw;
      background-image: url(../../images/cat_on_the_prowl_large.jpg);
      margin: auto;
    }

    .splashcontainer .caption {
      transform: rotate(90deg);
      
   
      position: relative;
      width:800px;

  }
    .splash h1 {
      font-size:2.2rem;
    }

     .coolButton{
      width: 50vw;
      margin-left: 10vw;
    }
    .content {
      padding-top: 4.5rem;
    }

    .column p{
      column-count: 2;
    }


    .collapsible-content {
      max-height: 100%;
      column-count: 2;
    }
   .collapsible-content h3{
      padding-left: 0;
    }

    .collapsible-content ul {
      padding-left: 1rem;
    }

    .lbl-toggle::before,
    .lbl-toggle .mobile-only::before,
    .toggle:checked + .lbl-toggle .mobile-only::before
     {
      display: none;
      content:"";
    }

    

  
    .moreBio
    {
      font-size: 1.2rem;
      margin-left: var(--main-content-left-right-margins);
      margin-right: var(--main-content-left-right-margins);
    }
    .bio,
     .projectList {
      width: 70vw;
      font-size:1.2rem;
    }

    .bio > p,
    .moreBio > p,
    .projectList p {
      font-size: 1.2rem;
    }

    

    .privacy{
      width: 70vw;
    }

    .simpleProject{
      column-count: 1;
    }

   

    /* slider adaption */

    .image_slider {
      height: 20vw;
      margin-bottom: 2rem;
      width: 70vw;
    }

    ul.slider {
      height: 20vw;
    }
    .slider .screenshot {
      padding-left: calc(19vw - 93%);
    }

    .slider .manual{
      padding-left: 24%;
    }

    .image_slider ul {
      margin-left: 0;
      padding-left: 0;
    }

    .image_slider ul li {
      width: 20vw;
      height: 20vw;
    }

    .slider picture,
    .slider img {
      max-width: 19vw;
      max-height: 19vw;
    }
    /*footer on laptop*/

    footer {
      padding-left: var(--header-margins);
      padding-right: var(--header-margins);
    }

    .footer-navi {
      padding-top: 1rem;
      font-size: 1.3rem;
    }

    .network {
      display: inline-block;
    }

    .network ul {
      display: flex;
      align-items: center;
    }

    .network ul li {
      display: inline-block;
    }

    .network ul li a {
      display: inline-block;
      width: 5vw;
      height: 5vw;
      cursor: pointer;
      max-width: 60px;
      max-height: 60px;
      padding-top: 0.5vw;
    }

    /*content changes depending on device-size*/
    .mobile-only {
      display: none;
    }
    .desktop-only{
      display: inline;
    }
     hr.desktop-only{
      border-top: solid 1px var(--gradient-bottom-color);
      display: block;
    }
   
}
