/*Looking for a job as technical writer, UX-writer or interaction designer */

/* -- Variables -- */
:root {
  --primary-color: rgb(185, 182, 182);
  --secondary-color: #000;
  --gradient-top-color: rgb(131, 200, 218);
  --gradient-bottom-color: rgb(2, 78, 97);
  --contrast-gradient-bottom-color: rgb(191, 191, 191);
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --main-content-left-right-margins: 5vw;
  --splash-height:280px;
}
html {
  font-size: 12px;
}
/* -- CSS Reset -- */
* {
  text-rendering: optimizeLegibility;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
h1,
a,
img,
ul,
li,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: var(--font);
}

/*-- Reset end --*/

/*basic settings*/

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  border-style: none;
  color: var(--secondary-color);
}

p {
  color: rgb(0, 0, 6);
  background-color: rgba(248, 248, 255, 30%);
  padding: 7px 0px 12px 0px;
  border-radius: 5px;
  font-size: 1.2rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
  border-bottom: dotted 0.1rem var(--gradient-bottom-color);
}

h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.2em;
  margin-top: 0.5rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 200;
  margin-top: 0.5rem;
}

h4 {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.5rem;
}


/*Header and navigation*/

header {
  background-color: var(--gradient-top-color);
  height: auto;
  position: fixed;
  width: 100vw;
  display: flex;
  top: 0px;
  z-index: 999;
}
/* logo etc*/

.logo {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: left;
  align-self: left;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}


nav ul li {
  margin: 0.5em;
}

ul.navlist {
  list-style: none;
  display: none;
}

.lbl-toggle-nav {
  display: block;
  height: 3rem;
}
.lbl-toggle-nav:hover {
  color: #7c5a0b;
}

.lbl-toggle-nav::before {
  content: " ";
  display: inline-block;
  background-image: url("../../images/menu-rounded-solid.svg");
  height: 1em;
  width: 1em;
  background-repeat: no-repeat;
  margin-top: 0.8em;
  padding-right: 1rem;

  transition: transform 0.2s ease-out;
}

.toggle-nav:checked + .lbl-toggle-nav::before {
  background-image: url("../../images/close.svg");
  padding-left: calc(100vw -1rem);
}

.toggle:checked + ul.navlist {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vw;
  background-color: var(--gradient-top-color);
  width: 100vw;
  right: 0px;
}

.toggle-nav:checked + .lbl-toggle-nav + ul.navlist {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vw;
  background-color: var(--gradient-top-color);
  width: 100vw;
  right: 0px;
}

a,
a:hover {
  text-decoration: none;
  border: none;
  border-style: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
a.current {
  text-decoration: underline solid var(--secondary-color) 2px;
}

img {
  max-width: 100%;
  display: block;
}
/*end navigation*/

/* footer and footer-nav*/
footer {
  background-color: var(--gradient-bottom-color);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  color: var(--contrast-gradient-bottom-color);
  padding-left: var(--main-content-left-right-margins);
  padding-right: var(--main-content-left-right-margins);
}

footer ul li {
  display: inline-block;
  margin: 0.5rem 0.5rem 0.5rem 0;
  padding-top: 5px;
  line-height: 2rem;
}

.footer-navi {
  padding-top: 0rem;
}

.network ul {
  display: inline-block;
}
footer ul {
  right: 0.1em;
}

.network ul li a .svg-icon {
  padding: 4px;
  width: 5vw;
  height: 5vw;
  margin: 0;
  display: block;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  max-height: 60px;
  max-width: 60px;
}

.network ul li a .svg-icon path {
  fill: var(--contrast-gradient-bottom-color);
  -webkit-transition: 1s;
  transition: 1s;
}

.network ul li a:hover .svg-icon path {
  fill: var(--secondary-color);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.footer-navi li a {
  color: rgb(202, 198, 198);
}

.footer-navi li a:hover {
  color:var(--secondary-color);
}

/*
.footer-navi li a:visited {
  color: rgb(202, 198, 198);
}*/

.align-correction {
  padding-bottom: 0.5vw;
}

/* end footer */

/*start content*/

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(var(--main-content-left-right-margins) * 1);
}

/*home page splash */
.splash {
  background-image: url("../../images/cat_on_the_prowl_420px.jpg");
  background-size: cover;
  width: 100vw;
  height: var(--splash-height);

  background-repeat: no-repeat;
  position: relative;
 
}

.splash h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: aliceblue;
  border-bottom: none;
  position: relative;
  top:calc(var(--splash-height) - 2rem);
  left:var(--main-content-left-right-margins);
}
/*end splash*/

/*normal content*/

.bio,
.moreBio,
.projectList {
  margin-top: 1.3rem;
  font-size: 1rem;
  margin-left: var(--main-content-left-right-margins);
  margin-right: var(--main-content-left-right-margins);
}

.bio > p,
.moreBio > p,
.projectList p {
  font-size: 1rem;
}

.projectList {
  margin-top: 4rem;
}

.coolButton{
  
	width: 80vw;
	margin-left: var(--main-content-left-right-margins);
	height: 4rem;
	background-color:var(--gradient-bottom-color);
  color:var(--contrast-gradient-bottom-color);
	margin-bottom: 1rem;
	border-radius: 10px;
	font-size: 1.4rem;
  border:none;

}

.coolButton a{
  color:var(--contrast-gradient-bottom-color);
 
}

.coolButton a:hover{
  color:var(--gradient-top-color);
}

.coolButton a:visited{
  color:var(--contrast-gradient-bottom-color);
}
/*end normal content 

/*Styles for extendable content => experimental*/

.collapsible-wrapper {
  padding-top: 0.5rem;
}

input[type="checkbox"] {
  display: none;
}

label > h2 {
  display: inline-block;
}

.lbl-toggle {
  display: block;
}
.lbl-toggle:hover {
  color: #7c5a0b;
}

.lbl-toggle::before {
  content: " ";
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);

  transition: transform 0.2s ease-out;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;

  transition: max-height 0.25s ease-in-out;
}

.collapsible-content ul,
.collapsible-content h3 {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.collapsible-content ul {
  margin-bottom: 0.7rem;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100%;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* media queries for larger screens*/
@media (min-width: 767px) {
:root{
    --main-content-left-right-margins:5vw;
  }

  html {
    font-size: 16px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  /*tablet-navigation: still menu button, but higher)*/
.navmenu{
  padding:0.5rem;
}
.lbl-toggle-nav::before{
  width: 2rem;
  height: 2rem;
  margin-top:0.5rem;
}

  .bio,
  .moreBio,
  .projectList {
   
    font-size: 1rem;
    margin-left: var(--main-content-left-right-margins);
    margin-right: var(--main-content-left-right-margins);
  }
}

@media (min-width: 1200px) {
  /*bassic styles*/
  :root{
    --main-content-left-right-margins:10vw;
  }

  html {
    font-size: 20px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }
/*navigation laptop*/

  header {
    padding-right: var(--main-content-left-right-margins);
  }

li.mobileonly {
  display:none;
}

  .navmenu {
    height: 5rem;
    margin-top: 0.5rem;
  }

  nav a {
    font-size: 1.8rem;
    padding: 1rem;
    padding-bottom: 0rem;
  }

  nav ul li {
    margin: 1rem 0 1rem 1rem;
  }

  ul.navlist {
    list-style: none;
    display: flex;
    flex-direction: row;
    height: 4.6rem;
  }

  .lbl-toggle-nav,
  .lbl-toggle-nav:before {
    display: none;
  }

  a,
  a:hover {
    text-decoration: none;
    border: none;
    border-style: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: var(--gradient-bottom-color);
  }

  /*content on laptop*/

  .content{
    padding-top: calc(var(--main-content-left-right-margins)*0.5);
  }

  .bio,
  .moreBio,
  .projectList {
   
    font-size: 1.4rem;
    margin-left: var(--main-content-left-right-margins);
    margin-right: var(--main-content-left-right-margins);
  }

  .bio > p,
  .moreBio > p,
  .projectList p {
    font-size: 1.2rem;
  }
  /*footer on laptop*/

  footer {
    padding-left: var(--main-content-left-right-margins);
    padding-right: var(--main-content-left-right-margins);
  }

  .footer-navi {
    padding-top: 1rem;
    font-size: 1.3rem;
  }

  .network {
    display: inline-block;
  }

  .network ul {
    display: flex;
    align-items: center;
  }

  .network ul li {
    display: inline-block;
   
  }

  .network ul li a {
    display: inline-block;
    width: 5vw;
    height: 5vw;
    cursor: pointer;
    max-width: 60px;
    max-height: 60px;
    padding-top: 0.5vw;
  }

 

}


